*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: aqua;
  color: blueviolet;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav, ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

nav{
  max-width: 80%;
  margin: auto;
  padding-top: 40px;
}

.hero-section-1, .hero-section-2{
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid red;
}

.fixed{
  position: fixed;
}